/*Add fonts*/
@font-face {
  font-family: berlinSansBold;
  src: url(Resources/Fonts/BRLNSB.TTF);
}

@font-face {
  font-family: berlinSans;
  src: url(Resources/Fonts/BRLNSR.TTF);
}

/*Set color pallet*/
:root{
  /*Background colors*/
  --bg-color: lightgrey;
  /*menu colors*/
  --mu-primary : darkslategray;
  --mu-secondary: lightslategray;
  --mu-light-text: gainsboro;
  --mu-dark-text: dimgray	;
}

/*Set global aspects*/
body{
  background-color: var(--bg-color);
  font-family: berlinSans;
}

/*Global classes*/
.title{
  font-family: berlinSansBold;
}

.hidden{
  display:none;
}
