:root{
  /*Background colors*/
  --bg-color: lightgrey;
  /*menu colors*/
  --mu-primary : darkslategray;
  --mu-secondary: lightslategray;
}

body{
  background-color: var(--bg-color);
}

/*Header*/
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mu-primary);
}

.logo{
  flex-shrink:2;
  margin:20px;
}
.logo img{
  width:100%;
}

.drop-menu{
  flex-shrink:1;
  max-width:80px;
  margin-right:25px;
  position: relative;
  display: inline-block;
}

.drop-btn{
  --btn-scale:100%;
}
.drop-btn:hover{
  background-color: var(--mu-secondary);
}
.drop-btn img{
  flex-shrink:1;
  width:var(--btn-scale);
  height:var(--btn-scale);
}

.drop-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  /* For mobile phones: */
}
